
<div class="nested-fields">
	<div class="form-group">
    <%= f.input :address_line1 , :label => false, :placeholder => 'add address_line1',  input_html: { class: 'form-control' } %></br>
    <%= f.input :address_line2,  :label => false, :placeholder => 'add address_line2',  input_html: { class: 'form-control' }  %></br>
    <%= f.input :city, :label => false, :placeholder => 'add a city',  input_html: { class: 'form-control' } %></br>
    <%= f.input :state,:label => false, :placeholder => 'add a state',  input_html: { class: 'form-control' }  %></br>
    <%= f.input :postal_code,:label => false, :placeholder => 'add a postal code',  input_html: { class: 'form-control' }  %></br>
    <%= f.input :country, :as => :string,:label => false, :placeholder => 'add a country',  input_html: { class: 'form-control' } %>
    <%= link_to_remove_association "remove address detail", f %>
 </div>
</div>

	