
<div class="nested-fields">
	<div class="form-group">
		<label>Address Line1</label>
		<%= f.input :address_line1 , :label => false,  input_html: { class: 'form-control' } %></br>
		<label for="addresses" class="control-label ">Address Line2</label>
		<%= f.input :address_line2,  :label => false,  input_html: { class: 'form-control' }  %></br>
		<label for="addresses" class="control-label ">City</label>
		<%= f.input :city, :label => false,   input_html: { class: 'form-control' } %></br>
		<label for="addresses" class="control-label ">State</label>
		<%= f.input :state,:label => false,   input_html: { class: 'form-control' }  %></br>
		<label for="addresses" class="control-label ">Postal Code</label>
		<%= f.input :postal_code,:label => false, input_html: { class: 'form-control' }  %></br>
		<label for="addresses" class="control-label ">Country</label>
		<%= f.input :country, :as => :string,:label => false,  input_html: { class: 'form-control' } %>
		<%= link_to_remove_association "remove address detail", f %>
	</div>
</div>

