<div class="nested-fields">
    <%= f.input :address_line1 %></br>
    <%= f.input :address_line2 %></br>
    <%= f.input :city %></br>
    <%= f.input :state %></br>
    <%= f.input :postal_code %></br>
    <%= f.input :country, :as => :string%>
</div>