<div class="header">		
	<h3 class="white">Edit a contact</h3>   
</div>


<div class = "row">
 <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 set-priority-edit">
   	<%= simple_form_for @contact do |f|%>
        <% if @contact.errors.any? %>
		         <div id="error_explanation">
		              <h2 class ="red"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
		              <ul>
		              <% @contact.errors.full_messages.each do |msg| %>
		                <li class ="red"><%= msg %></li>
		              <% end %>
		              </ul>
		            </div>
		        <% end %>
	            <div class="text-center header-style"> Contact Details</div>
				<div class="form-group">
				<label>First Name<sup><span class="glyphicon glyphicon-asterisk red-star" aria-hidden="true"></span></sup>:</label>
                      <%= f.input :first_name , :label => false,  input_html: { class: 'form-control' }  %>
                </div>
  
                <div class="form-group">
	                 <label>Middle Name:</label>
                      <%= f.input :middle_name , :label => false, input_html: { class: 'form-control' }  %>
                </div>

				<div class="form-group">
					<label>Last Name<sup><span class="glyphicon glyphicon-asterisk red-star" aria-hidden="true"></span></sup>:</label>
                      <%= f.input :last_name , :label => false,  input_html: { class: 'form-control' }  %>
                </div>

				<div class="form-group">
					<label>Gender<sup><span class="glyphicon glyphicon-asterisk red-star" aria-hidden="true"></span></sup>:</label>
                      <%= f.input :gender , :label => false,  input_html: { class: 'form-control' }  %>
                </div><hr>
	       <div class="text-center header-style"> Address Details</div>
          <div>
              <%= f.simple_fields_for :addresses do |address| %>
                <%= render 'edit_address_fields', :f => address %>
                   <% end %>
                <div class="links">
                <%= link_to_add_association 'add address details', f, :addresses %>
               </div></br>
         </div>
          <div class="text-center header-style"> Phone Details</div>
         <div>
              <%= f.simple_fields_for :phone_numbers do |phone| %>
                <%= render 'edit_phone_number_fields', :f => phone %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'add phone numbers', f, :phone_numbers %>            
			  </div>
         </div></br>
             
 <%= f.submit "Update Contacts", :class =>"btn btn-primary" %> <%= link_to 'Cancel', contacts_path,:class =>"btn btn-primary" %>
  <% end %>
</div>
</div>


  
