<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>Contacts</h1>
  </div>
</div>

<div class="contacts">
  <div class="container">
     	<h3 class="text-center">Contacts List</h3><hr>
		  <table>
		  <tr>
		      <th class="text-center">First Name</th>
		      <th class="text-center">Middle Name</th>
		       <th class="text-center">Last Name</th>
		      <th class="text-center">Gender</th>
		      <th class="text-center">Actions</th>
		  </tr>


		  <% @contacts.each do |c| %>
		      <tr class="text-center">
		           <td><%= c.first_name %></td>
		           <td><%= c.middle_name %></td>
		           <td><%= c.last_name %></td>
		           <td><%= c.gender %></td>
		          <td class="text-center"><%=link_to "Edit", edit_contact_path(c.id) %><%=link_to "View", contact_path(c.id) %><%= link_to "Delete", contact_path(c.id),
		                  data: {:confirm => 'Are you sure?'}, :method => :delete%>

		          </td>
		    </tr>
		  <% end %>
		</table>
		<%= link_to 'New Contact', new_contact_path %>
  </div>
</div>




