<div class="header">		
	<h3 class="container">Contact List</h3>   
</div>

<div>
  <div class="container">
		  <table>
		  <tr>
		      <th>First Name</th>
		      <th >Middle Name</th>
		       <th>Last Name</th>
		      <th>Gender</th>
		      <th>Actions</th>
		  </tr>
		

		  <% @contacts.each do |c| %>
		      <tr>
		           <td><%= c.first_name %></td>
		           <td><%= c.middle_name %></td>
		           <td><%= c.last_name %></td>
		           <td><%= c.gender %></td>
		          <td class ="text-center"> <%= link_to "Edit", edit_contact_path(c.id) %>     <%=link_to "View", contact_path(c.id) %>   <%= link_to "Delete", contact_path(c.id),data: {:confirm => 'Are you sure?'}, :method => :delete%>

		          </td>
		    </tr>
		  <% end %>
		</table>
		<%= link_to 'New Contact', new_contact_path %>
  </div>
</div>




